extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  .greating
    .greating_text sdfdsf builder.
    .greating_text nbnbnbcvbcvbcvbs builder.
    .greating_picture

